html {
  height: 100%;
  text-align: center;
}

body {
  margin: 0 8px;
  height: 100%;
  background-color: black;
  color:white ;
}

a {
  color: white;
}

.textwrapper {
  margin: 0 8px;
  text-align: left;
}