html {
  height: 100%;
  background-color: #F4FEF7;
}

body {
  margin: 0 8px;
  height: 100%;
}

.imgwrapper {
  width: 40%;
  margin: auto;
  display: block;
}

.cookie {
  width: 100%;
}

.contentsWrapper {
  display: flex;
  flex-wrap:wrap;
  margin-bottom: 8px;
}

.cookies {
  display: block;
  width: 50%;
  text-align: center;
  margin: 10px 0;
}