html {
  height: 100%;
  text-align: center;
}

.mv-wrapper {
  width: 70%;
  margin: auto;

  img {
    width: 100%;
  }
}

/* スマホ用のCSSはメディアクエリの外に記述する */

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  .body-wrapper {
    width: 480px;
    margin: auto;
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  .body-wrapper {
    width: 600px;
    margin: auto;
  }
}